Irrlicht/* linguist-vendored
Irrlicht_Chess/Chessboards/* linguist-documentation
Irrlicht_Chess/font/* linguist-documentation
Irrlicht_Chess/html/* linguist-documentation
Irrlicht_Chess/img/* linguist-documentation
Irrlicht_Chess/latex/* linguist-documentation
Irrlicht_Chess/saves/* linguist-documentation
